<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#  if (!Valid)return ""; #>
<# foreach(var op in Operators) { #>
    public static <#= op.returnType #> <#= op.method#>(<#= op.l #> u1, <#= op.r #> u2) =>
        (<#=  op.returnType #>)(u1.RawValue.<#= op.name #>((Scalar)u2));
<# } #>